  <div class="container">
    <div class="row border">
        <div class="col-sm border">
            <div class="buffer-one"></div>
            <h3>Name: {{pizza.name}}</h3>
            <div class="buffer-one"></div>
            <h4> Dough Type: {{pizza.pizza_dough_type}} </h4>
            <div class="buffer-two"></div>
            <h4 *ngIf="pizza.is_calzone"> Calzone: Yes</h4>
            <h4 *ngIf="!pizza.is_calzone">Calzone: No</h4>
            <div class="buffer-two"></div>
            <p><button *ngIf="!update_mode" class="btn btn-success" (click)="toggleUpdateUI()">Update Information</button></p>
        </div>
        <div class="col-sm text-center">
            <div class="buffer-two"></div>
            <h4>Ingredients:</h4>
            <p *ngIf="pizza.ingredients.length == 0">None</p>
            <ul class="list-group" *ngFor="let ingr of pizza.ingredients">
                <li class="list-group-item"> {{ingr.ingredient_name}} <button class="btn btn-danger" (click)="removeIngredientFromPizza(pizza.pizza_id, ingr.ingredient_id)">Remove</button></li>
            </ul>
        </div>
    </div>

    <div class="buffer-one"></div>

    <p><button *ngIf="update_mode" class="btn btn-secondary" (click)="toggleUpdateUI()">Cancel Update</button></p>
    <form class="form-group" *ngIf="update_mode" (submit)="updatePizzaInformation()">
        <div class="form-group">
          <p class="text-danger" *ngIf="!valid_name">A pizza's name must be between 2 and 30 characters</p>
          <label class="control-label col-sm-2" for="name">Pizza Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" [(ngModel)]="pizza_to_update.name" id="name" placeholder="pizza.name">
          </div>
        </div>
        <div class="form-group">
            <p class="text-danger" *ngIf="!valid_dough">Pizza dough description must be between 2 and 30 characters</p>
            <label class="control-label col-sm-2" for="d-type">Pizza Dough Type:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="pizza_dough_type" [(ngModel)]="pizza_to_update.pizza_dough_type" id="d-type" placeholder="pizza.name">
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox" name="is_calzone" [(ngModel)]="pizza_to_update.is_calzone" placeholder="pizza.is_calzone"> Is Calzone</label>
              </div>
            </div>
        </div>
    <input class="btn btn-success" type="submit" value="Update Pizza Information">
    </form>

    <div class="buffer-one"></div>
    <div *ngIf="all_unused_ingredients.length != 0">
        <h4> Unused Ingredients: </h4>
        <div *ngFor="let uui of all_unused_ingredients">
            <p>{{uui.ingredient_name}} <button class="btn btn-info" (click)="addIngredientToPizza(pizza.pizza_id, uui.ingredient_id)">Add</button></p>
        </div>
    </div>

